<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Finanzas Mi Hogar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../wwwroot/cover.css" />
    
   
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">
</head>

    <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div class="div-navar">
      <h3 class="float-md-start nav nav-masthead justify-content-center">Finanzas Mi Hogar</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link text-white" asp-area="" asp-page="./Gastos">Gastos</a>
      </nav>
    </div>
  </header>
    <div >
        <main role="main" class="px-3">
            @RenderBody()
        </main>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" ></script>
    <Script src="~/js/form-validation.js"></Script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>